; vim: filetype=clojure

(logging/init :file "riemann.log")

; Listen on all interfaces for  TCP (5555) and UDP (5555)
(let [host "0.0.0.0"]
  (tcp-server :host host)
  (udp-server :host host)
  (ws-server  :host host))

; Log specific event
(streams
  (where (service "zombie")
         #(info %)))
